<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>507333318603-1qfm75lhj9v05ledk92a6dtnnsdp8imc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507333318603-1qfm75lhj9v05ledk92a6dtnnsdp8imc</string>
	<key>API_KEY</key>
	<string>AIzaSyBD6OtjFdI8MUI66KTIxUlauSqW6z_OOPY</string>
	<key>GCM_SENDER_ID</key>
	<string>507333318603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MeetXSweat.MeetXSweat</string>
	<key>PROJECT_ID</key>
	<string>firebase-meetxsweat</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-meetxsweat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:507333318603:ios:e2db90ecfa14c7a8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-meetxsweat.firebaseio.com</string>
</dict>
</plist>